.header{
  width: 100vw;
  background-color: orange;
}
.badge{
margin-right: 12px;
color: white;
font-size: large;
}
ul{
  list-style: none;
  float:right;

}
li{
  margin: 15px;
  float: left;

}
a i{
  margin:0 5px;
}
li a{

  text-decoration: none;
  color: white;
  font-size: large;
  text-align: center;
}
