<nz-table #basicTable [nzData]="cartItems">
  <thead>
    <tr>
      <th></th>
      <th>Produkt</th>
      <th>Menge</th>
      <th>Preis</th>
      <th>Aktion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td><img src="{{data.product.image}}" class="image"></td>
      <td>{{data.product.name}}</td>
      <td>{{data.amount}}</td>

      <td>{{data.product.price}}</td>
      <td>
        <button nz-button (click)="deleteEntry(data)" nzType="primary" nzShape="circle"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
      </td>
    </tr>
  </tbody>
</nz-table>

