.product-img{
  width: 100%;
  height: 100%;
  object-fit: cover; /*magic*/
}
.card-content{
float: left;
width: 100%;
}
.price-attribute{
  margin: 5px;
}
.amount-attribute{
  margin: 5px;
  width: 70px;
}
.buy-button{
  margin: 5px;
}
nz-select {
  width: 100%;
}
